@using Microsoft.AspNetCore.Http
@using PBL_EC5.Controllers
@inject IHttpContextAccessor HttpContextAccessor
@model List<UsuarioViewModel>
@{
    var isAdm = HelperControllers.VerificaAdm(HttpContextAccessor.HttpContext.Session);
}
@if (Model.Count > 0)
{
    @foreach (var usuario in Model)
    {
        <tr class="body">
            <td>@usuario.Nome</td>
            <td>@usuario.Email</td>
            <td>@usuario.Cpf</td>
            <td>@usuario.Administrador</td>
            @if (isAdm)
            {
                <td>
                    <a asp-controller="Usuario" asp-action="Editar" asp-route-id="@usuario.Id">
                        <span class="bi bi-pencil"></span>
                    </a>
                    <a asp-controller="Usuario" asp-action="Deletar" asp-route-id="@usuario.Id"
                       onclick="return confirm('Tem certeza que deseja deletar este usuário?');">
                        <span class="bi bi-x-lg"></span>
                    </a>
                </td>
            }
        </tr>
    }
}
else
{
    <tr class="body">
        <td colspan="5">Nenhum registro encontrado</td>
    </tr>
}