@using PBL_EC5.Controllers
@using PBL_EC5.Models
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] PBL EC5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        @{
            var usuario = HelperControllers.RetornaDadosUsuario(HttpContextAccessor.HttpContext.Session);
            var isAdm = HelperControllers.VerificaAdm(HttpContextAccessor.HttpContext.Session);

            var exibirNavbar = !(ViewContext.RouteData.Values["controller"]?.ToString() == "Usuario"
            && (ViewContext.RouteData.Values["action"]?.ToString() == "Login"));
        }
        @if ((exibirNavbar || ViewBag.EsconderNavbar == false) && ViewBag.Logado == true)
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom-teal border-bottom box-shadow mb-3">
                <div class="container d-flex justify-content-between align-items-center">
                    <a class="navbar-brand d-flex align-items-center gap-2" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/logo1.png" alt="Logo" style="height: 25px; width: auto; margin-right: 5px;" />
                        PBL EC5
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            @if (isAdm)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Administrar
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="Usuario" asp-action="Index">Usuários</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Clientes
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Cliente" asp-action="Index">Consulta/Cadastro</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Estufas
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Estufa" asp-action="Index">Consulta/Cadastro</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
                            </li>
                            @* <li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SobreRegressao">Regressão Linear</a>
							</li> *@
                        </ul>

                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark d-flex align-items-center text-decoration-none"
                                   href="#" role="button"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">

                                    <span>@usuario.Nome</span>

                                    <img src="@(usuario.Foto == null ? Url.Content("~/userGeneric.png") : $"data:image/png;base64,{usuario.FotoBase64}")"
                                         alt="Foto de Perfil" class="fotoPerfil" />
                                </a>

                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Usuario" asp-action="Editar" asp-route-id="@usuario.Id" asp-route-isPerfil="true">Ver Perfil</a>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Usuario" asp-action="LogOff">Sair</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-4">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>@* 
    <footer class="border-top footer text-muted">
       @{
            Layout = "~/Views/Shared/_Rodape.cshtml";
        }

    </footer> *@
</html>
