@model List<ClienteViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <style>
        button {
            padding: 7px 19px;
            border: none;
            background-color: #1b6ec2;
            color: white;
            border-radius: 5px;
        }

        .mb-4 {
            margin-bottom: 0px !important;
        }

        table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            table td, table th {
                padding: 8px;
                vertical-align: top !important;
                display: table-cell !important;
                text-align: center !important;
            }

            table tr:nth-child(even) {
                background-color: #dbdbdb;
            }

            table tr {
                border-bottom: 1px solid #ddd;
            }

                table tr:nth-child(even) {
                    background-color: #dfdfdf !important;
                }

            table th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #1b6ec2;
                color: white;
            }
    </style>
    <h1 class="display-4 mb-4">Clientes</h1>
    <br />
    <div>
        <button>
            Limpar
        </button>
        <a href="@Url.Action("Cadastrar", "Cliente")" class="btn btn-success">Novo</a>
    </div>
    <div class="table-responsive m-2">
        <table class="table text-center">
            <thead class="head">
                <tr>
                    <th>Id</th>
                    <th>Usuário</th>
                    <th>Razão Social</th>
                    <th>CNPJ</th>
                    <th>CEP</th>
                    <th>Rua</th>
                    <th>Número</th>
                    <th>Ativo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            @if (Model.Count > 0)
            {
                @foreach (var cliente in Model)
                {
                    <tr class="body">
                        <td>@cliente.Id</td>
                        <td>@cliente.Id_Usuario</td>
                        <td>@cliente.Razao_Social</td>
                        <td>@cliente.CNPJ</td>
                        <td>@cliente.CEP</td>
                        <td>@cliente.Rua</td>
                        <td>@cliente.Numero</td>
                        <td>@(cliente.Ativo == '1' ? "Sim" : "Não")</td>
                        <td>
                            <a href="@Url.Action("Editar", "Cliente", new { id = cliente.Id })" class="btn btn-primary">Editar</a>
                            <a href="@Url.Action("Excluir", "Cliente", new { id = cliente.Id })" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="body">
                    <td colspan="9">Nenhum registro encontrado</td>
                </tr>
            }
        </table>
    </div>
</div>